<!DOCTYPE html>
<html>
<head>
  <title>Quality Assurance with Chai | freeCodeCamp.org</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h2>Famous Italian Explorers</h2>

  <form id="f1">
    <label for="surname">surname: </label>
    <input type="text" name="surname" id="i1" placeholder="try with 'Polo'..." />
    <button type="submit">submit</button>
  </form>

  <div id="tn">
    <p>first name: <span id="name"></span></p>
    <p>last name: <span id="surname"></span></p>
    <p>dates: <span id="dates"></span></p>
  </div>

  <script src="/client.js"></script>
</body>
</html>
